section.about
    .container
        h3.about__title
            | We supply shakers to some of the largest name
            br
            | brands in the supplement industry.

        p.about__descr
            | View our large selection of Shakers and get started on your own design today.

        .about__button-wrap
            a(href="#").about__button-view
                | view our selection
