section.baner
    .container
        .baner__box
            .baner__descr-wrap
                h1.baner__title
                    | Custom & Private Label
                    br
                    | Shaker Bottles

                p.baner__descr
                    | The World's Largest Selection of Private Label Shaker Bottles, Pill organizers, and other Promotional
                    | Fitness Items. Customize with your company logo and colors.

                a(href="#").baner__button-view
                    | view all shakers

                p.baner__descr-watch
                    | Watch how it works

            .baner__img-shell
                .baner__img-wrap
                    img(src="img/baner.png")

        .baner__partners
            p.baner__descr-shipped
                | Over 3,000,000 shakers shipped to date.

            .baner__partners-img
                img(src="img/partner-1.png")

            .baner__partners-img
                img(src="img/partner-2.png")

            .baner__partners-img
                img(src="img/partner-3.png")

            .baner__partners-img
                img(src="img/partner-4.png")

            .baner__partners-img
                img(src="img/partner-5.png")

            .baner__partners-img
                img(src="img/partner-6.png")

