srction.faq
    .container
        h3.faq__title
            | What our clients are saying.

        .faq__box
            .faq__element
                .faq__comment
                    p.faq__descr
                        | We chose shakerfactory for their efficiency and friendly sales team, get in touch with them
                        |and you’ll know what I mean.and friendly sales team, get in touch with them and you’ll
                        | know what I mean.

                .faq__author
                    p.faq__author-title
                        | Angelo Eu

                    p.faq__author-descr
                        | Optimum Nutrition

            .faq__element
                .faq__comment.faq__comment--first
                    p.faq__descr
                        | The two most significant benefits of Shakerfactory
                        | for me are the good prices and the high quality of products.

                .faq__author
                    p.faq__author-title
                        | Spiros Maragakis

                    p.faq__author-descr
                        | X-Treme Stores

            .faq__element
                .faq__comment.faq__comment--second
                    p.faq__descr
                        | To future clients I would say that
                        | Shakerfactory has both good personal service and good prices.

                .faq__author
                    p.faq__author-title
                        | Arnlaugur Einarsson

                    p.faq__author-descr
                        | Allilja Ehf
