footer.footer
    .container
        .footer__box
            .footer__element
                h3.footer__title
                    | shakerfactory

                p.footer__descr
                    | A one-stop shop for all branding and promotional
                    | merchandise for the health and fitness industries.

            .footer__element
                h3.footer__title
                    | Contact

                p.footer__descr
                    | Contact us at
                    a(href="#").footer__link
                        | info@shakerfactory.com
                    | or by Skype at paul.shakerfactory

            .footer__element
                h3.footer__title
                    | Social

                .footer__socials
                    .footer__socials-img
                        img(src="img/icons/fb.png")

                    .footer__socials-img
                        img(src="img/icons/in.png")

                    .footer__socials-img
                        img(src="img/icons/tube.png")

                    .footer__socials-img
                        img(src="img/icons/twit.png")

                    .footer__socials-img
                        img(src="img/icons/insta.png")

            .footer__copyright
                .footer__copyright-img
                    img(src="img/icons/share.png")

                p.footer__copyright-descr
                    | © 2018 - Shakerfactory Ltd. All Rights Reserved

