header.header
    .container
        p.header__logo
            | Logo

        a(href="#").header__trigger#header-trigger
            span
            span
            span

        nav.header__navigation
            ul.header__menu
                li
                    a(href="#") Shakers

                li
                    a(href="#") Accessories

                li
                    a(href="#") FAQ

                li
                    a(href="#") About

                li
                    a(href="#") Contact

