section.shaker
    .container
        .shaker__slider
            a(href="img/slide-1.png" data-fancybox="gallery").shaker__slide
                h3.shaker__slide-title
                    | Zen

                .shaker__slide-img
                    img(src="img/slide-1.png")

            a(href="img/slide-2.png" data-fancybox="gallery").shaker__slide
                h3.shaker__slide-title
                    | Zen

                .shaker__slide-img
                    img(src="img/slide-2.png")


            a(href="img/slide-1.png" data-fancybox="gallery").shaker__slide
                h3.shaker__slide-title
                    | Zen

                .shaker__slide-img
                    img(src="img/slide-1.png")

            a(href="img/slide-1.png" data-fancybox="gallery").shaker__slide
                h3.shaker__slide-title
                    | Zen

                .shaker__slide-img
                    img(src="img/slide-1.png")

            a(href="img/slide-2.png" data-fancybox="gallery").shaker__slide
                h3.shaker__slide-title
                    | Zen

                .shaker__slide-img
                    img(src="img/slide-2.png")