section.shaker
    .container
        .shaker__slider
            .shaker__slide
                h3.shaker__slide-title
                    | Zen

                .shaker__slide-img
                    img(src="img/slide-1.png")

            .shaker__slide
                h3.shaker__slide-title
                    | Zen

                .shaker__slide-img
                    img(src="img/slide-2.png")


            .shaker__slide
                h3.shaker__slide-title
                    | Zen

                .shaker__slide-img
                    img(src="img/slide-1.png")

            .shaker__slide
                h3.shaker__slide-title
                    | Zen

                .shaker__slide-img
                    img(src="img/slide-1.png")

            .shaker__slide
                h3.shaker__slide-title
                    | Zen

                .shaker__slide-img
                    img(src="img/slide-2.png")